<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-info">
            <div class="nav-tabs-navigation">
              <form [formGroup]="form">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">P&L - Income Summary:</span>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a mat-button class="nav-link active" href="#treasury" data-toggle="tab">
                        <i class="material-icons">folder</i> Treasury Bills
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a mat-button class="nav-link" href="#bonds" data-toggle="tab">
                        <i class="material-icons">subtitles</i> Bonds
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                    <li class="nav-item" style="margin-left: 30px">
                      <mat-form-field>
                        <input matInput name="dateFromDatePicker" style="color: white"
                               formControlName="dateFromDatePicker"
                               [matDatepicker]="dateFromDatePicker"
                               placeholder="Date From">
                        <mat-datepicker-toggle matSuffix style="color: white;"
                                               [for]="dateFromDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #dateFromDatePicker></mat-datepicker>
                      </mat-form-field>
                    </li>
                    <li class="nav-item" style="margin-left: 30px">
                      <mat-form-field>
                        <input matInput name="dateToDatePicker" style="color: white"
                               formControlName="dateToDatePicker"
                               [matDatepicker]="dateToDatePicker"
                               placeholder="Date To">
                        <mat-datepicker-toggle matSuffix style="color: white;"
                                               [for]="dateToDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #dateToDatePicker></mat-datepicker>
                      </mat-form-field>
                    </li>

                    <li class="nav-item" style="margin-top: 5px;margin-left: 10px;color: white">
                      <button (click)="searchIncomeSummary()" mat-raised-button mat-icon-button type="button"   class="btn btn-danger btn-link btn-just-icon">
                        <i class="material-icons">search</i>
                      </button>
                    </li>
                  </ul>
                </div>
              </form>

            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="treasury">
                <table class="table">
                  <thead class="text-info">
                  <th>Maturity</th>
                  <th># of Trades</th>
                  <th>Mark To Market</th>
                  <th>MTM P/L</th>
                  <th>Realised P/L</th>
                  <th>TOTAL P/L</th>
                  <th>PORTFOLIO</th>

                  </thead>
                  <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                  </tr>
                  </tbody>
                </table>

              </div>

              <div class="tab-pane" id="bonds">
                <table class="table">
                  <thead class="text-info">
                  <th>Maturity</th>
                  <th># of Trades</th>
                  <th>Mark To Market Price</th>
                  <th>MTM P/L</th>
                  <th>REALIZED P/L</th>
                  <th>POSITION</th>
                  <th>POSITION (CARRYING PRICE)</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                  </tr>
                  </tbody>
                </table>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
