<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Securities Management</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body table-responsive">

            <!--<button (click)="createInstrument()" mat-raised-button mat-flat-button color="warn" class="btn-sm"> Create Instrument</button>-->
            <button mat-raised-button type="button" matTooltip="Add Instrument" (click)="createInstrument()" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
              <i class="material-icons">add</i>
            </button>
            <mat-spinner style="margin:0 auto;" diameter="25" color="warn" *ngIf="isLoadingResults"></mat-spinner>
            <table class="table">
              <thead class="text-rose">
              <th>ID</th>
              <th>Name</th>
              <th>Coupon</th>
              <th>Coupon Frequency</th>
              <th>Maturity Date</th>
              <th>Par Value</th>
              <th>Day Count Basis</th>
              <!--<th></th>-->

              </thead>
              <tbody>
              <tr *ngFor="let instrument of instruments">

                <td>{{instrument.id}}</td>
                <td><a [routerLink]="['/create-instrument/', instrument.id]">{{instrument.name}}</a></td>

                <td>{{instrument.couponRate}}</td>
                <td>{{instrument.couponFrequency}}</td>
                <td>{{instrument.maturityDate | date}}</td>
                <td>{{instrument.parValue}}</td>
                <td>{{instrument.dayCountBasis}}</td>

                <!--<td class="td-actions text-right">-->
                  <!--<button mat-raised-button type="button" matTooltip="Edit Task"  [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">-->
                    <!--<i class="material-icons">edit</i>-->
                  <!--</button>-->
                  <!--<button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">-->
                    <!--<i class="material-icons">close</i>-->
                  <!--</button>-->
                <!--</td>-->
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
