<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Institution Clients</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body table-responsive">
            <button mat-raised-button type="button" matTooltip="Add Institution" (click)="createInstitutionContact()" [matTooltipPosition]="'above'"
                    class="btn btn-danger btn-link btn-sm btn-just-icon">
              <i class="material-icons">add</i>
            </button>
            <!--<button (click)="createInstitution()" mat-raised-button mat-flat-button color="warn" class="btn-sm"> Create Institution</button>-->

            <table class="table">
              <thead class="text-rose">
              <th>ID</th>
              <th>Full name</th>
              <th>Institution Name</th>
              <th>Email</th>
              <th>Phone number</th>


              </thead>
              <tbody>
              <tr *ngFor="let contact of institutionContacts">

                <td>{{contact.id}}</td>
                <td><a [routerLink]="['/create-institution-contact/', contact.id]">{{contact.fullname}}</a></td>
                <td>{{contact.institutionName}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phoneNumber}}</td>



              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
